body {
  overflow:hidden;
  margin: 0;
  display:flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(36, 36, 36);
}
body {
  text-align: center;
  width: 100%;
    height: 100%;
    overflow: hidden;
}

 
canvas {
  /* margin: 10px auto; */
  top: 20%;
  left: 2%;
}
  
.button {
    color: white;
  background: orange;
  border: none;
  padding: 20px;
  
  font-weight: 300;
  font-size: 2em;
  font-family: 'Lato';
  justify-content: center;
  cursor: pointer;
  outline: none;
  z-index: 1;
  /* position: absolute; */
  /* top: 40%; */
  }



  .slidecontainer {
    width: 500px;
    height: 500px;
    position: fixed;
    z-index: 1;
    top: 50%; /* Adjust top position */
    left: 50%; /* Adjust left position */
    transform: translate(-50%, -50%); /* Center the container */
}

/* The slider itself */
.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%; /* Full-width within container */
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    position: absolute;
    bottom: 0; /* Position at the bottom of container */
    z-index: 1;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1;
}

/* The slider handle */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #4721a7;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #4721a7;
    cursor: pointer;
}

.slidertxt {
    font-size: 1em;
    color:#4721a7;
    position: absolute;
    margin-bottom: 30px; /* Adjust as needed */
    margin-left: 50%; /* Center horizontally */
    /* transform: translateX(-50%); */
    z-index: 1;
}
