body {
  overflow:hidden;
  margin: 0;
  display:flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(36, 36, 36);
}
body {
  text-align: center;
  width: 100%;
    height: 100%;
    overflow: hidden;
}

 
canvas {
  /* margin: 10px auto; */
  top: 10%;
  left: 2%;
}
  
.button {
    color: white;
  background: #5B60FF;
  margin-top: 0px;
  width: 150px;
  height: 70px;
  border-color: white;
  padding: 10px;
  border-radius: 20px;
  font-weight: 300;
  font-size: 2em;
  font-family: 'Lato';
  justify-content: center;
  cursor: pointer;
  outline: none;
  z-index: 1;
  top: 100px;
  left: 500px;
  /* position: absolute; */
  /* top: 40%; */
  }



  .slidecontainer {
    width: 500px;
    height: 500px;
    position: fixed;
    z-index: 1;
    top: 50%; 
    left: 70%; 
    transform: translate(-50%, -50%); /* Center the container */
}

/* The slider itself */
.slider {
    -webkit-appearance: none;
    appearance:none;
    width: 100%; 
    height: 10px;
    border-radius: 20px;
    background: white;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    position: absolute;
    bottom: 0;
   z-index: 1;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #5B60FF;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #5B60FF;
    cursor: pointer;
    border-radius: 50%;
}

.slidertxt {
    font-size: 1.2em;
    color:#FFF;
    position: absolute;
    margin-bottom: 30px; /* Adjust as needed */
    margin-left: 50%; /* Center horizontally */
    /* transform: translateX(-50%); */
    z-index: 1;
}
